<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!--
	This file is part of the DITA-OT Pandoc Plug-in project.
	See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="fox.jason.passthrough.pandoc" version="2.0.1">
	<feature extension="dita.conductor.lib.import" file="lib/passthrough.pandoc-1.0.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/passthrough.parser-4.0.jar"/>
	<feature extension="ant.import" file="process_pandoc.xml"/>
	<!-- Ensure the plugin's error and logging messages are available -->
	<feature extension="dita.xsl.messages" file="resource/messages.xml"/>	
	<!-- Uses the passthrough pandoc file reader -->
	<feature extension="dita.parser">
		<parser format="pandoc" class="fox.jason.passthrough.PandocFileReader"/>
	</feature>
	<feature extension="depend.preprocess.pre" value="pandoc.check"/>
</plugin>

